<header>
    <nav >

        <div style="background-color:rgba(255, 255, 255)"> 
            <div class="row" style=" font-size:22pt;font-weight: bold;padding:0px 10px 0px 0px;">
                    <div class="col-sm" style="text-align:left">
                            <img width="200" src="/assets/img/kielLogoTransparent.jpg"> 
                    </div>
                    <div class="col-sm" style="text-align:center">
                            <h3><b>Admin-Dashboard</b></h3>
                    </div>
                    <div class="col-sm" style="text-align:right">  
                           
                            <button  class="btn btn-primary" style="padding: 10px 10px 10px 10px; margin: 10px 20px; font-size: 22px; font-weight: bold;" onClick="window.open('https://www.kiel.de/')">StadtKiel</button> 
                    </div>     
            </div> 
        </div>

    </nav>
  </header>



<!--<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a class="navbar-brand">Formular-AdminDashboard</a></div>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li>
                <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
            </li>
        </ul>
    </nav>
  </header>
-->